{erl_opts, [
    %{d,debug},
    %{parse_transform, lager_transform},
	debug_info
    %no_debug_info
]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{eunit_compile_opts, [export_all]}.
{cover_enabled, true}.

{deps,
    [
        %{lager,".*",{git,"git://github.com/basho/lager.git","master"}}
    ]
}.
